html, body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  height: 100%;
 }

 

 .footer {
	display: block;
	text-align: center; 
	position: static;
	font-size: 70%;
	font-weight: bolder; 
	font-family: Libre Baskerville, serif; 
	letter-spacing: 1px; 
	color: #A1A1A1; 
	margin-top: 40px;
	margin-bottom: 20px; 
}

#email {
	text-decoration: none;
	color: #A1A1A1; 
}


.title {
	padding-top: 40px;
	padding-bottom: 10px;
	position: static;
	text-align: center;
	font-size: 300%;
	font-family: Playfair Display, serif; 
	letter-spacing: 1.5px; 
	color: #000000;
}


a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #000000; 
}



.subtitle {
	padding-top: 10px;
	padding-bottom: 30px;
	position: static;
	text-align: center;
	font-size: 100%;
	font-family: Libre Baskerville, serif; 
	letter-spacing: 2px; 
}

hr {
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-style: solid;
    border-width: 1px;
    opacity: .1; 
    width: 1000px; 
}

.button {
	position: static;
	text-align: center;
	font-size: 60%;
	font-family: Libre Baskerville, serif; 
	letter-spacing: 2px;
	background: #F7F7F7; 
	display:inline-block;
	cursor:pointer;
	padding:8px 13px;
	float: right;
	margin: 2px; 
}

.button:hover {
	background: #EAEAEA; 
}

.col_header_left {
	position: relative;
	max-width: 1000px; 
	overflow: auto;
	padding: 0px; 
}

.col_header_right {
	position: relative; 
	overflow: auto; 
	padding: 0px; 
	float: right;
}


nav li {
	display: inline;
	padding-top: 30px;
	padding-bottom: 40px;
	padding: 55px; 
	position: static;
	text-align: center;
	font-size: 70%;
	font-family: Libre Baskerville, serif; 
	letter-spacing: 2px; 
}

nav {
	padding: 10px; 
	text-align: center;
	padding-bottom: 30px; 
}


nav li a {
     color: #939393;
     text-decoration: none;
}

nav li:hover a, nav li.active a  {
    color: #000000;
    text-decoration: none; 
}


.banner{
	padding-top: 20px;
	margin-top: 20px; 
	margin-bottom: 20px; 
	padding-bottom: 20px;
	position: static;
	text-align: left;
	font-size: 150%;
	font-family: Libre Baskerville, serif; 
	letter-spacing: 1px; 
}

.banner2 {
	padding-top: 20px;
	margin-top: 20px; 
	margin-bottom: 0px; 
	padding-bottom: 10px;
	position: static;
	text-align: left;
	font-size: 150%;
	font-family: Libre Baskerville, serif; 
	letter-spacing: 1px; 
	color: #343434; 

}

.phrase{
	padding-top: 10px;
	padding-bottom: 40px;
	position: relative;
	text-align: left;
	font-size: 80%;
	font-family: Libre Baskerville, serif; 
	letter-spacing: 1px; 
	line-height: 200%; 
	width: auto;
}


#col_container {
	margin-left: auto;
	margin-right: auto;  
    width: 1000px;
    min-height: auto; 
    overflow: auto;  
}

.col_header_left {
	max-width: 1000px; 
}

.col1 {
	float: left;
	width: auto; 
	padding: 0px;  
	margin-bottom: 0px; 
	color: #090909;
	max-width: 500px; 
	height: auto; 
}

.col2 {
	float: left;
	width: auto;
	padding: 0px; 
	margin-bottom: 0px; 
	color: #090909;
	max-width: 500px; 
	height: auto; 

}

.col2_company {
	float: left;
	width: 500px;
	padding: 0px; 
	margin-bottom: 0px;
	margin-top: 90px;  
	color: #090909;
	max-width: 500px; 
	height: auto; 
}

figure .partners {
	float: auto;
	text-align: center;
	display: block;
	width: auto; 
	opacity: .1; 
}



figure.gallery {
	float: left;
	text-align: center;
	display: block;
	width: auto;
	max-width: 400px;  
	margin-bottom: 30px; 
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px; 	
}

figure.faq {
	float: left;
	text-align: center;
	display: block;
	width: auto; 
	max-width: 500px; 
	margin-bottom: 30px; 
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px; 	
}


.faq:hover .figfade{
  opacity: 1;
  left: 0;
}

.figfade {
	text-align: center;
	font-size: 80%;
	font-family: Libre Baskerville, serif; 
	letter-spacing: 1px; 
	color: #808080; 
	
	opacity: 0;
  	bottom: 0; 
  	left: -30%;
  	-webkit-transition: all 0.3s ease;
 	-moz-transition:    all 0.3s ease;
 	-o-transition:      all 0.3s ease;
}

figcaption.item {
	text-align: center;
	font-size: 80%;
	font-family: Libre Baskerville, serif; 
	letter-spacing: 1px; 
	color: #808080; 
	
}


figure.partners {
	float: auto;
	text-align: center;
	width: auto; 
	margin-bottom: 0px; 
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 0px; 
}


img.large {
	float: left;
	width: 400px;
	-webkit-transition: all 0.9s ease;
}


img.large:hover {
	width: 420px;
	-webkit-transition: all 0.5s ease;
}

img.large_faq {
	float: left;
	width: 400px; 
}

img.small {
	float: auto;
	margin-top: 40px; 
	margin-bottom: 20px; 
	padding-bottom: 10px; 
	opacity: .5; 
	width: 175px;
	-webkit-transition: all 0.9s ease;

 	
}

img.small:hover {
	opacity: 1; 
	-webkit-transition: all 0.5s ease;
 	-moz-transition:    all 0.5s ease;
 	-o-transition:      all 0.5s ease;
 	



}

.questions {
	padding-right: 20px; 
}

#question {
	position: static;
	text-align: left;
	font-size: 100%;
	font-weight: bolder; 
	font-family: Libre Baskerville, serif; 
	letter-spacing: 1px; 
	color: #000000; 
}

#answer {
	position: static;
	margin-top: 0px;
	margin-bottom: 50px;  
	text-align: left;
	font-size: 80%;
	font-family: Libre Baskerville, serif; 
	letter-spacing: 1px; 
	line-height: 220%; 
	color: #686868; 
}

#answer2 {
	position: static;
	margin-top: 0px;
	margin-bottom: 30px;  
	text-align: left;
	font-size: 80%;
	font-family: Libre Baskerville, serif; 
	letter-spacing: 1px; 
	line-height: 220%; 
	color: #555555; 
}



